version: '3.8'
networks:
  uber-network:
    driver: bridge

volumes:
  postgres_data:
  redis_data:

services:
  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=Admin@123
      - POSTGRES_DB=uber
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - uber-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - uber-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  auth-service:
    image: auth-service:latest
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - uber-network

  location-service:
    image: location-service:latest
    build:
      context: ./location-service
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - uber-network

  booking-service:
    image: booking-service:latest
    build:
      context: ./booking-service
      dockerfile: Dockerfile
    ports:
      - "8002:8002"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      postgres:
        condition: service_healthy
      entity:
        condition: service_completed_successfully
    networks:
      - uber-network

  review-service:
    image: review-service:latest
    build:
      context: ./review-service
      dockerfile: Dockerfile
    ports:
      - "8003:8003"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      postgres:
        condition: service_healthy
      entity:
        condition: service_completed_successfully
    networks:
      - uber-network

  entity:
    image: entity:latest
    build:
      context: ./entity
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - uber-network